server:
  port: 8080

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /api-docs

spring:
  datasource:
#    url: jdbc:postgresql://localhost:5432/spatialdb
    url: jdbc:postgresql://10.154.171.243:5432/spatialdb
    username: postgres
    password: techlab

    datasource:
      hikari:
        max-lifetime: 1800000

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect

